#TEMPLATE for common/private.zsh

# (note: this is also the hub tool token)
export HOMEBREW_GITHUB_API_TOKEN=TODO

# (note: these are identities added by 'sshadd' alias for 1H)
export SSHADD_IDS='id1 id2 id3'